[Unit]
Description=flashlex
After=multi-user.target

[Service]
ExecStart=/home/pi/projects/flashlex-iot-python/venv/bin/python -u /home/pi/projects/flashlex-iot-python/app.py --config /home/pi/projects/flashlex-iot-python/keys/config.yml
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flashlex
Restart=always
User=root

[Install]
WantedBy=multi-user.target
